/* styles.css */

body {
 /*   display: flex;
    flex-direction: column;
    background-color: #F4F4F4;*/
}
a {
    color: blue;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
}

#navbar {
 /*   top: 0;
    z-index: 99; */
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.nav-left-container {
    background-color: blue;
}

.nav-right-container {
    margin-left: auto;
}

.nav-right-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
   /* light grey */
   background-color: #DCDCDC;
}

.container {
    background-color: #DCDCDC;
}

/* Icon section */
.devicon-container {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.devicon {
    font-size: 4rem;
}

a.skills-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

a.skills-icons span {
    font-size: 1em;
}

a.nav-link: link {
    text-decoration: none;
}

a.nav-link: visited {
    text-decoration: none;
}

.skills-icons span {
    margin-top: 10px;
    opacity:0;
    transition: opacity 0.5s 0.5s;
}

.skills-icons:hover {
    color: #21b2a6;
}

.skills-icons:hover span {
    color: #21b2a6;
    opacity: 1;
    transition: opacity 0.8s;
}

/*
.cbp-ig-icon:before {
    font-family: 'devicon';
    font-size: 6em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cbp-ig-grid .cbp-ig-title {
    margin: 20px 0 10px;
    padding: 20px 0 0;
    font-size: 1em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
*/
