/* styles.css */

body {
    position: relative;
    top: 30px;
}
a {
    color: blue;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
}

#about {
}
#navbar {
 /*   top: 0;
    z-index: 99; */
}

.nav-wrapper {
    background-color: #f4f7fc;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.nav-wrapper:hover {
    opacity: 1;
}

.nav-left-container {
    opacity: 0.95;
    font-size: 140%;
}

.nav-right-container {
    opacity: 0.95;
    margin-left: auto;
}

.nav-right-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
   /* light grey */
    opacity: 0.90;
    font-size: 140%;
    padding-right: 5px;
}

.nav-button {
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.nav-button a {
    text-decoration: none;
}

.nav-button:hover {
    background-color: #c0d6f9;
}

.container {
    background-color: #DCDCDC;
}

/* Icon section */
.devicon-container {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.devicon {
    font-size: 4rem;
}

a.skills-icons {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

a.skills-icons span {
    font-size: 1em;
}

a.nav-link: link {
    text-decoration: none;
}

a.nav-link: visited {
    text-decoration: none;
}

.skills-icons span {
    margin-top: 10px;
    opacity:0;
    transition: opacity 0.5s 0.5s;
}

.skills-icons:hover {
    color: #21b2a6;
}

.skills-icons:hover span {
    color: #21b2a6;
    opacity: 1;
    transition: opacity 0.8s;
}


/* contact section */
.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-button {
    margin: 0 5px 0 5px;
}
